@import "tailwindcss";

@layer {
}

@theme inline {
  --color-black: rgb(40, 40, 40);
  --color-gray: rgb(100, 100, 100);
  --color-white: rgb(245, 245, 245);
  --color-trans-white: rgba(255, 255, 255, 0.5);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-wavy: "Brush Script MT";
}

@media (prefers-color-scheme: dark) {
}

/* Hide spinner arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

line {
  animation: drawLine 3s forwards;
}

.animate-after::after {
  animation: raise-after 3s forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes raise-after {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(100%);
  }
}
